@model ContactDetails

@{
    ViewData["Title"] = $"{Model.LastName.ToUpper()}, {Model.FirstName}";
}

<h1>Fiche détaillée</h1>

<div>
    <h3>@Model.LastName.ToUpper(), @Model.FirstName @((Model.CategoryId==2)?"💼":"")</h3>
        <dl>
            @if(Model.Phone !=null){
                <dt>@Html.DisplayNameFor(model=>model.Phone)</dt>
                <dd><a href="tel:@Model.Phone">@Html.DisplayFor(model=>model.Phone)</a></dd>
            }
            @if(Model.Email !=null){
            <dt>@Html.DisplayNameFor(model=>model.Email)</dt>
            <dd><a href="mailto:@Model.Email">@Html.DisplayFor(model=>model.Email)</a></dd>
            }
            @if(Model.BirthDate !=null){
                <dt>@Html.DisplayNameFor(model=>model.BirthDate)</dt>
                <dd>@Html.DisplayFor(model=>model.BirthDate)<br>(anniversaire dans @Model.DaysUntilBirthDay jours)</dd>
            }
        </dl>
</div>
<div class="btn-group">
    @Html.ActionLink("✏", "Edit", new { id = Model.Id }, htmlAttributes: new{ @class="btn btn-outline-primary"})
    <a asp-action="Index" class="btn btn-outline-warning">⬅Revenir à la liste</a>
</div>
