@model IEnumerable<IGrouping<Int32,ContactListItem>>

@{
    ViewData["Title"] = "Index";
    Dictionary<int, string> cats = (Dictionary<int, string>)ViewData["cats"];
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">➕</a>
</p>
@foreach(IGrouping<int,ContactListItem> group in Model ){
    <h2>@cats[group.Key]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => group.First().LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => group.First().FirstName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (ContactListItem item in group) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("✏",    "Edit",     new { id=item.Id }, htmlAttributes: new{ @class="btn btn-outline-secondary"})
                        @Html.ActionLink("📄", "Details",  new { id=item.Id }, htmlAttributes: new{ @class="btn btn-outline-primary"}) 
                        @Html.ActionLink("🗑",  "Delete",   new { id=item.Id }, htmlAttributes: new{ @class="btn btn-outline-danger"})
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
}
