@using Microsoft.AspNetCore.Mvc.ModelBinding
@model AuthLoginForm
@if (ViewData.ContainsKey("errorMessage"))
{
    <div class="alert alert-danger">
        @ViewData["errorMessage"]
    </div>
}
@using(Html.BeginForm()){
            <div class="form-group">
                @*<label for="email">Email : </label>
                <input class="form-control" id="email" name="email" type="email">*@
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new{ HtmlAttributes = new{@class="form-control"}})
                @Html.ValidationMessageFor(model => model.Email, null, htmlAttributes:new{@class="text-warning"})
            </div>
            <div class="form-group">
                @*<label for="password">Mot de passe : </label>
                <input class="form-control" id="password" name="password" type="password">*@
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new{ HtmlAttributes = new{@class="form-control"}})
                @Html.ValidationMessageFor(model => model.Password, null, htmlAttributes:new{@class="text-warning"})
            </div>
            <div class="btn-group">
                <input class="btn btn-primary" type="submit" value="Login">
                <input class="btn btn-secondary" type="reset" value="Annuler">
            </div>
        }